// ============================== Configuration initial
* {
    box-sizing: border-box;
}

body {
    font: 400 1rem "Georgia", sans-serif;
    margin: 0;
    padding: 0;

    // ============================== Header
    .header__main {
        text-align: center;
        padding: 1rem;
        background: #00ce6a;
        background: linear-gradient(135deg, #00ce6a 30%, #191919 85%);
        color: #fff;
    }

    .container {
        .grid__One {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 1rem;
            text-align: center;
            margin: 1rem;
            border: 1px solid #00CE6A;
            border-radius: 10px;

            .grid__Two {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;

                box-shadow: rgba(0, 204, 105, 0.4) 5px 5px,
                    rgba(0, 204, 105, 0.3) 10px 10px,
                    rgba(0, 204, 105, 0.2) 15px 15px,
                    rgba(0, 204, 105, 0.1) 20px 20px,
                    rgba(0, 204, 105, 0.05) 25px 25px;

                .result>span {
                    color: #00CE6A;
                    font-weight: 600;
                }

                .select {
                    box-shadow: none;
                    border-color: #00CE6A;
                }

                .containerForm {

                    input {
                        box-shadow: none;
                        border-color: #00CE6A;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }



    // ============================== Footer
    .footer__main {
        text-align: center;
        padding: 2rem;
        background: #00ce6a;
        background: linear-gradient(186deg, #00ce6a 30%, #191919 55%);
        color: #fff;
    }

    // ============================== Corners
    .github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }

    @keyframes octocat-wave {

        0%,
        100% {
            transform: rotate(0)
        }

        20%,
        60% {
            transform: rotate(-25deg)
        }

        40%,
        80% {
            transform: rotate(10deg)
        }
    }

    @media (max-width:500px) {
        .github-corner:hover .octo-arm {
            animation: none
        }

        .github-corner .octo-arm {
            animation: octocat-wave 560ms ease-in-out
        }
    }
}


@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}
