* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* $base-color: #ffffff;
$base-color-secondary: #3ee8e5;
$base-color-tertiary: #00000040;
$base-bgc: #171f38;
$base-bgc-secondary: #242e4c;
$base-bgc-tertiary: #0576ff; */
body {
  font: 400 1rem "Georgia", sans-serif;
  margin: 0;
  padding: 0;
}

body .header__main {
  text-align: center;
  padding: 1rem;
  background: #00ce6a;
  background: linear-gradient(135deg, #00ce6a 30%, #191919 85%);
  color: #fff;
}

body .container .grid__One {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  border: 1px solid #00CE6A;
  border-radius: 10px;
}

body .container .grid__One .grid__Two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -webkit-box-shadow: rgba(0, 204, 105, 0.4) 5px 5px, rgba(0, 204, 105, 0.3) 10px 10px, rgba(0, 204, 105, 0.2) 15px 15px, rgba(0, 204, 105, 0.1) 20px 20px, rgba(0, 204, 105, 0.05) 25px 25px;
          box-shadow: rgba(0, 204, 105, 0.4) 5px 5px, rgba(0, 204, 105, 0.3) 10px 10px, rgba(0, 204, 105, 0.2) 15px 15px, rgba(0, 204, 105, 0.1) 20px 20px, rgba(0, 204, 105, 0.05) 25px 25px;
}

body .container .grid__One .grid__Two .result > span {
  color: #00CE6A;
  font-weight: 600;
}

body .container .grid__One .grid__Two .select {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #00CE6A;
}

body .container .grid__One .grid__Two .containerForm input {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #00CE6A;
  margin-bottom: 1rem;
}

body .footer__main {
  text-align: center;
  padding: 2rem;
  background: #00ce6a;
  background: linear-gradient(186deg, #00ce6a 30%, #191919 55%);
  color: #fff;
}

body .github-corner:hover .octo-arm {
  -webkit-animation: octocat-wave 560ms ease-in-out;
          animation: octocat-wave 560ms ease-in-out;
}

@-webkit-keyframes octocat-wave {
  0%,
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  20%,
  60% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  40%,
  80% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  body .github-corner:hover .octo-arm {
    -webkit-animation: none;
            animation: none;
  }
  body .github-corner .octo-arm {
    -webkit-animation: octocat-wave 560ms ease-in-out;
            animation: octocat-wave 560ms ease-in-out;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
/*# sourceMappingURL=main.css.map */